[Unit]
Description=Pydebrid
After=network.target

[Service]
ExecStart=/usr/bin/pydebrid -c /etc/pydebrid/pydebrid.conf
User=pydebrid
Group=pydebrid

[Install]
WantedBy=multi-user.target
